@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.container {
  display: grid;
  width: 450px;
  grid-template-rows: repeat(5, 50px);
  grid-template-columns: repeat(5, 50px);
  background-color: green;
  grid-gap: 1em;
  justify-content: space-evenly;
  align-content: space-evenly;
}

h1 {
  background-color: #e48989be;
  color: black;
  width: max-content;
}
