@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-image: linear-gradient(
      rgba(135, 207, 235, 0.247),
      rgba(0, 0, 255, 0.144)
    ),
    url("https://images.unsplash.com/photo-1664000382585-6d9a72ff052b?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-blend-mode: normal;
  background-attachment: local;
  background-size: cover;
  color: white;
  margin: 0;
  font-family: inter, sans-serif;
}
a {
  text-transform: none;
  text-decoration: none;
  color: white;
}
form {
  color: white;
}
#button {
  color: hsl(166, 20%, 13%);
  background-color: hsl(155, 68%, 56%);
  border-radius: 4px;
  border-width: thin;
  border-style: solid;
}
div + p {
  color: red;
}
.container {
  background-color: gray;
  padding: 0;
  /* position: absolute; */
}
.one {
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
}
.two {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 10px;
}
.three {
  background-color: goldenrod;
  width: 100px;
  height: 100px;
}
